.SearchBox {
    position: relative;
    flex: 1;
  
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  
  .suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #FFF;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .suggestions li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background: #f0f0f0;
  }


  
  @media (max-width: 768px) {
    width: 100%;
    font-size: 14px;
    input {
        font-size: 14px;
    }
  }
}